<a href="https://colab.research.google.com/github/ngoctran24/ngoctran24/blob/master/JumpyNumbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
MAXIMUM = 9999

def isJumpy(n):
  num_list = [int (x) for x in str (n)]
  increase = decrease = False
  for index in range (1, len (num_list)):
    if (num_list[index-1] < num_list[index]):
      increase = True
    elif (num_list[index-1] > num_list[index]):
      decrease = True
    if (increase and decrease):
      return True
  return False

if __name__ == '__main__':
  flag = total = 0
  for i in range(0, MAXIMUM):
    if isJumpy(i) and flag < 500:
      total += i
      flag += 1
      
  print("The sum of the first 500 jumpy numbers = ", total)

The sum of the first 500 jumpy numbers =  258001